<%include ./layout/menuAdmin.ejs%>
<link rel="stylesheet" href="/stylesheets/dropzone.css">
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <%include ./layout/headerAdmin.ejs%>
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <p class="text-center"><strong style="color: #FF3333;font-size: 25px;">Thêm mới tin tức</strong></p>
                </div>
                <div class="card-body card-block">
                    <form id="add-new">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tiêu đề</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="title" name="title" placeholder="Nhập tiêu đề..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Thể loại</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select class="form-control" name="category">
                                    <option value="Khuyến mãi">Khuyến mãi</option>
                                    <option value="Tin tức">Tin tức</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Từ ngày</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="form" name="form" placeholder="Áp dụng từ ngày..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Đến ngày</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="to" name="to" placeholder="Áp dụng đến ngày..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Nội dung</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="content" id="content" rows="4" placeholder="Nhập mô tả..."
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Trạng thái</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="checkbox m-t-2 m-b-15">
                                    <label>
                                        <input type="checkbox" id="status" name="status" style="width: 20px;height: 20px;" value="true">
                                        <i class="input-helper"></i>
                                        <span class="p-l-10"> Kích hoạt</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">Ảnh</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <form id="upload-widget" action="/uploadfilenew" method="post" class="dropzone"></form>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" id="Taomoi" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Tạo mới
                        </button>
                        <button type="button" id="btn-back" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Quay lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%include ./layout/footerAdmin%>
<script src="/add-new/script.js"></script>
<script src="/javascripts/dropzone.js"></script>