<%include ./layout/menuAdmin.ejs%>
<link rel="stylesheet" href="/stylesheets/dropzone.css">
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <%include ./layout/headerAdmin.ejs%>
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <p class="text-center"><strong style="color: #FF3333;font-size: 25px;">Thêm mới sản phẩm</strong></p>
                    <i style="font-size: 12px;">Vui lòng nhập đầy đủ thông tin vào các trường bên dưới !</i>
                </div>
                <div class="card-body card-block">
                    <form id="add-product">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tên sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="name" name="name" placeholder="Nhập tên sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Giá sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="price" name="price" placeholder="Nhập giá sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Số lượng</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="quantity" name="quantity" placeholder="Nhập số lượng sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Mô tả</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="description" id="description" rows="4" placeholder="Nhập mô tả..."
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">Nhóm sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="category" id="groupProduct" class="form-control">
                                    <option value="-1">---Chọn nhóm điện thoại---</option>
                                    <%
                                        groupProduct.forEach(function(item){%>
                                            <option value=<%= item._id %>><%= item.name %></option>
                                        <%})
                                    %>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">Màu sản phẩm</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="category" id="color" class="form-control" multiple>
                                    <option value="-1">---Chọn nhóm màu--</option>
                                    <%
                                        color.forEach(function(item){%>
                                            <option value=<%= item._id %>><%= item.name %></option>
                                        <%})
                                    %>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Memory</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="memory" name="memory" placeholder="Nhập dung lượng bộ nhớ sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Ram</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="ram" name="ram" placeholder="Nhập dung lượng ram sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Camera</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="camera" name="camera" placeholder="Nhập thông tin camera sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Giảm giá</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="discount" name="discount" placeholder="Nhập giá khuyến mãi sản phẩm..."
                                    class="form-control">
                            </div>
                        </div>
                    </form>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="textarea-input" class=" form-control-label">Ảnh sản phẩm</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <form id="upload-widget" action="/uploadfile" method="post" class="dropzone"></form>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" id="Taomoi" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Tạo mới
                        </button>
                        <button type="button" id="btn-back" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Quay lại
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%include ./layout/footerAdmin%>
<script src="/add-product/script.js"></script>
<script src="/javascripts/dropzone.js"></script>