<%include ./layout/menuAdmin.ejs%>
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- HEADER DESKTOP-->
    <%include ./layout/headerAdmin.ejs%>
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <p class="text-center"><strong style="color: #FF3333;font-size: 25px;">Sửa thông tin nhân viên giao hàng</strong></p>
                    <i style="font-size: 12px;">Vui lòng nhập đầy đủ thông tin vào các trường bên dưới !</i>
                </div>
                <div class="card-body card-block">
                    <form id="deliverer-edit">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Tên nhân viên giao hàng</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="name" name="name" placeholder="Nhập tên nhân viên..." value="<%=deliverer.name %>"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">SĐT nhân viên giao hàng</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại nhân viên..." value="<%= deliverer.phone %>"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Trạng thái</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <div class="checkbox m-t-2 m-b-15">
                                    <label>
                                        <input type="checkbox" id="status" name="status" style="width: 20px;height: 20px;" value="true"  <%if(deliverer.status==true){%>checked <%}%>>
                                        <i class="input-helper"></i>
                                        <span class="p-l-10"> Kích hoạt</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    
                    <div class="card-footer text-center">
                        <button type="button" id="Sua" data-id="<%= deliverer._id %>" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i>Cập nhập
                        </button>
                        <button type="button" id="btn-back" class="btn btn-danger btn-sm">
                            <i class="fa fa-ban"></i> Quay lại
                        </button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%include ./layout/footerAdmin%>
<script src="/deliverer-edit/script.js"></script>
