<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title%></title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="float-right">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small">
                                <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span
                                        class="key">Hi, <i class="fa fa-user"></i></span><b class="caret"></b></a>         
                                <ul class="dropdown-menu">
                                    <li class="text-left"><a href="/login"><i class="fa fa-sign-in"> Đăng nhập</i></a></li>
                                    <li class="text-left"><a href="#"><i class="fa fa-sign-out"> Đăng xuất</i></a></li>
                                    <li class="text-left"><a href="#"><i class="fa fa-key"> Đổi mật khẩu</i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a href="./"><img src="/images/img_product/logo.png"></a></h1>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="shopping-item">
                        <a href="/cart">Cart - <span class="cart-amunt">$100</span> <i
                                class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="./">Trang chủ</a></li>
                        <li><a href="/allProduct">Điện thoại</a>
                            <div id="menu">
                                <div class="nav1">
                                    <ul class="nav navbar-nav1">
                                        <li><a href="index.html">Sam sung</a></li>
                                        <li><a href="single-product.html">Oppo</a></li>
                                    </ul>
                                </div>
                                <div class="nav2">
                                    <ul class="nav navbar-nav2">
                                        <li><a href="index.html">Sam sung1</a></li>
                                        <li><a href="single-product.html">Oppo1</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="single-product.html">Hàng cũ</a></li>
                        <li><a href="cart.html">Phụ kiện</a></li>
                        <li><a href="checkout.html">Khuyến mãi</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->